head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")

    link(rel="stylesheet", href="../sass/main.css")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet")

    script(src="../js/todo.js")
    script(src="https://use.fontawesome.com/f0f1c4cb39.js")

    title ToDO List