section.list_container
    .wrap
        .list-nav
            ul
                //li(data-value="madonna") Мадонна
                //li(data-value="new_songs") Новые песни
        .list-content
            //.list-item
            //    .desc Мадонна Like a prayer
            //    .buttons
            //        ul
            //            li(data-value="edit") Edit
            //            li(data-value="delete") Delete