doctype html
html(lang="ru")
    include ../../../../Desktop/migtour/migtour/app/jade/partials/head/head
    body
        include ../../../../Desktop/migtour/migtour/app/jade/partials/header/header

        include ../../../../Desktop/migtour/migtour/app/jade/partials/content/main_section
        include ../../../../Desktop/migtour/migtour/app/jade/partials/content/about
        include ../../../../Desktop/migtour/migtour/app/jade/partials/content/tours
        include ../../../../Desktop/migtour/migtour/app/jade/partials/content/counters

        include ../../../../Desktop/migtour/migtour/app/jade/partials/content/profitable
        include ../../../../Desktop/migtour/migtour/app/jade/partials/content/selection
        // include ./partials/content/special

        include ../../../../Desktop/migtour/migtour/app/jade/partials/content/news
        //include ./partials/content/tours
        include ../../../../Desktop/migtour/migtour/app/jade/partials/content/reviews
        include ../../../../Desktop/migtour/migtour/app/jade/partials/content/why_us

        include ../../../../Desktop/migtour/migtour/app/jade/partials/footer/footer