* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif; }
  body input {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    outline: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    body input:focus {
      box-shadow: 1px 5px 10px 0 #dfdffa; }

.wrap {
  width: 980px;
  margin: 50px auto 0; }
  .wrap form {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .wrap form .form_block {
      width: 40%; }
      .wrap form .form_block .custom-select-wrapper {
        position: relative;
        user-select: none; }
        .wrap form .form_block .custom-select-wrapper .custom-select {
          position: relative;
          display: flex;
          flex-direction: column;
          border: 1px solid #dfdfdf;
          border-radius: 5px; }
          .wrap form .form_block .custom-select-wrapper .custom-select input {
            padding: 0;
            border: 0; }
          .wrap form .form_block .custom-select-wrapper .custom-select .custom-select__trigger {
            padding: 10px 20px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer; }
            .wrap form .form_block .custom-select-wrapper .custom-select .custom-select__trigger span {
              width: 100%; }
              .wrap form .form_block .custom-select-wrapper .custom-select .custom-select__trigger span input {
                padding: 10px 20px; }
          .wrap form .form_block .custom-select-wrapper .custom-select .custom-options {
            border: 1px solid #dfdfdf;
            border-radius: 5px;
            position: absolute;
            display: block;
            top: 100%;
            left: 0;
            right: 0;
            background: #fff;
            transition: all 0.5s;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            z-index: 2; }
            .wrap form .form_block .custom-select-wrapper .custom-select .custom-options .custom-option {
              padding: 10px 20px;
              position: relative;
              display: block;
              cursor: pointer;
              transition: all 0.5s;
              border: 1px solid transparent; }
              .wrap form .form_block .custom-select-wrapper .custom-select .custom-options .custom-option:hover {
                cursor: pointer;
                border: 1px solid #dfdfdf;
                border-radius: 5px; }
        .wrap form .form_block .custom-select-wrapper .custom-select.open .arrow::before {
          left: 0;
          transform: rotate(45deg); }
        .wrap form .form_block .custom-select-wrapper .custom-select.open .arrow:after {
          left: 5px;
          transform: rotate(-45deg); }
        .wrap form .form_block .custom-select-wrapper .custom-select.open .custom-options {
          opacity: 1;
          visibility: visible;
          pointer-events: all; }
    .wrap form button {
      cursor: pointer;
      padding: 10px 30px;
      font-family: Roboto;
      border-radius: 5px;
      background-color: #f2f2f2;
      border: 1px solid #d9d9d9;
      outline: none; }
      .wrap form button:active {
        background-color: #ccc; }

.list_container ul {
  display: flex; }
  .list_container ul li {
    list-style: none;
    cursor: pointer; }
.list_container .list-nav ul {
  display: flex; }
  .list_container .list-nav ul li {
    padding: 5px 10px;
    border: 1px solid #dfdfdf;
    border-radius: 5px 5px 0 0;
    background-color: #f2f2f2; }
    .list_container .list-nav ul li:hover {
      background-color: #ccc; }
    .list_container .list-nav ul li.active {
      color: #ffffff;
      font-weight: 600;
      background-color: #bbbbbb; }
.list_container .list-content {
  border: 1px solid #d9d9d9; }
  .list_container .list-content .list-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #d9d9d9; }
    .list_container .list-content .list-item:last-of-type {
      border: 0; }
    .list_container .list-content .list-item .desc, .list_container .list-content .list-item .buttons {
      width: 75%; }
    .list_container .list-content .list-item .buttons {
      width: 15%; }
      .list_container .list-content .list-item .buttons ul {
        display: flex;
        align-items: center;
        justify-content: space-between; }
      .list_container .list-content .list-item .buttons .fa {
        font-size: 23px;
        color: #bbbbbb;
        width: 24px; }
      .list_container .list-content .list-item .buttons .fa-trash-o:hover, .list_container .list-content .list-item .buttons .fa-minus-square-o:hover {
        color: #ff0000; }
      .list_container .list-content .list-item .buttons .fa-check-square-o {
        color: #00e600; }
      .list_container .list-content .list-item .buttons .fa-pencil-square-o:hover {
        color: #ff6600; }
    .list_container .list-content .list-item.done .desc {
      text-decoration: line-through;
      opacity: 0.5; }

/*# sourceMappingURL=main.css.map */
